#blog{
    padding: 60px 0;
}

.dark-title{
    font: 700 40px "Playfair Display";
    text-transform: capitalize;
}

.all-blogs{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 50px;
}


.blog {
    width: 23%;
}

.blog img{
    width: 100%;
}

.blog-desc{
    padding: 8px 12px;
}

.blog-desc span{
    font: 400 12px "Open Sans";
    color: #212529;
    line-height: 1.5;
}

.blog-desc h4{
    transition: .3s all ease;
    font: 700 14px "Playfair Display";
    line-height: 1.2;
    cursor: pointer;
}

.blog-desc h4:hover{
    color: #fc8621;
}

.blog-desc p {
    margin: 16px 0;
    font: 400 14px "Open Sans";
    color: #212529;
    line-height: 1.2;
}

.blog-desc a {
    color: #fc8621;
    font: 400 14px "Open Sans";
    line-height: 1.5;
    text-transform: capitalize;
    transition: .3s all ease;
}

.blog-desc a:hover{
    color: #ca6b1a;
}